@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-bckimg">
    <h1 class="text-success" style="margin-left:20px;"><strong>Your Company Name</strong></h1>
    <p class="card text-success bg-light"><strong>Insert your company's visions and missions here to advertise your company</strong></p>
    <p style="text-align:center;"><a href="" class="btn btn-success btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Award Winner Mentions</h2>
        <p>
            Showcase the awards your company has earned to show community contributions
        </p>
        <p><a class="btn btn-primary" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Company Rating</h2>
        <p>Show positive ratings and testimonials from customers</p>
        <p><a class="btn btn-primary" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Career Opportunities</h2>
        <p>Show internal and external career opportunities within the company. Be sure to mention benefits.</p>
        <p><a class="btn btn-primary" href="">Learn more &raquo;</a></p>
    </div>
</div>