<ul class="nav navbar-nav navbar-left">
    <li>@Html.ActionLink("Finance", "Index", "Finance")</li>
    <li>@Html.ActionLink("Production", "Index", "Production")</li>
    <li>@Html.ActionLink("Distribution", "Index", "Finance")</li>
    <li>@Html.ActionLink("Administration", "Index", "Finance")</li>
</ul>
